<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
    <title>Wisdom Vibes</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/quotes/home">Home</a></li>
            <li><a href="/quotes/random">Random quote</a></li>
            <li><a href="/quotes/add">Add quote</a></li>
            <li><a href="/quotes/author">Find by author</a></li>
        </ul>
    </nav>
    <div>
        <h2>Welcome to Wisdom Vibes!</h2>
        <h4>You can search for quotes by author</h4>
        <h4>You can get a random quote</h4>
        <h4>You can add your own quote</h4>
        <h5>Just select an option from the navigation menu</h5>
    </div>
</body>
</html>